<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Uber Code Kata</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/uber.css')}}"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <style>
    #map label { width: auto; display:inline; }
    #map img { max-width: none; max-height: none; }
  </style> <!-- google maps bootstrap patch-->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC07QHkm7xFRu6X9stoRDifMgdxudCB-0&sensor=false"></script>
  <script src="{{url_for('static', filename='assets/vendor/underscore-min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/jquery-2.0.3.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/backbone-min.js')}}"></script>
  <script src="{{url_for('static', filename='routers.js')}}"></script>
  <script src="{{url_for('static', filename='models/location-model.js')}}"></script>
  <script src="{{url_for('static', filename='collections/location-collection.js')}}"></script>
  <script src="{{url_for('static', filename='views/location-view.js')}}"></script>
  <script src="{{url_for('static', filename='views/location-collection-view.js')}}"></script>
  <script src="{{url_for('static', filename='views/location-view.js')}}"></script>
  <script src="{{url_for('static', filename='views/google-map-view.js')}}"></script>
  <script src="{{url_for('static', filename='uber.js')}}"></script>
  </head>
<body>

  <header>
    <h3>Uber Web Kata</h3>
  </header>

  <div id="main" class="container">
    <p> Click on the Map to add a favorite location </p>
    <!-- location list -->
    <div class="row">
      <div class="span2 pull-left">
        <div id="uber-app">
          <ul id="location-list" class="locations">
          </ul>
        </div>
      </div>

      <!-- google maps -->
      <div class="span10 pull-right">
        <div id="map" style="width: 800px; height: 600px;"></div>
      </div>

    </div>

  </div>

  <!--add location modal -->
  <div class="modal fade" id="add-location">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Favorite Location</h4>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Nickname" class="pull-left input-large" />
          <input type="text" placeholder="Address" class="pull-right input-large" />
          <input type="hidden" name="lat" id="modal-latitude" value=""/>
          <input type="hidden" name="lng" id="modal-longitude" value="" />
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="close-btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save-btn">Save</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
